.container{
    width: 100%;
    height: 215px;
    background-color: yellow;
    border: 2px solid red;
}
.box{
    height: 212px;
    width:212px ;
    border:2px solid green ;
    background-color: aqua;

    animation-name: babbar;
    animation-duration: 3s;
    animation-iteration-count:1;
    animation-timing-function: linear;
    animation-delay: 1s;
    /*animation-direction:alternate;*/
    animation-fill-mode:forwards;
}
@keyframes babbar{
    0%{
        width: 212px;
        background-color:orange;
    }45%{
        width: 70%;
        background-color: white;

    }100%{
        width: 100%;
        background-color: green;

    }
}
/*@keyframes babbar{
    from{
        width:212px;
    }
    to{
        width:800px;
    }
}*/