.container{
    height: 400px;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/

    justify-content: center;
    align-items: center;
    align-content: flex-start;
    /*gap: 10px ;*/
   

}

.box{
    border: 1px solid brown;
    background-color: aqua;
    width: 100px;
   
   
}

#box1{
    order:1;
   /* flex-grow: 1;*/
    flex-shrink: 4;
    align-self: flex-start ;
}
#box3{
    order: 8;
   /* flex-grow: 1;*/
    flex-shrink: 2;
    align-self: flex-end;
}
#box2{
    order: 4;
    align-self: stretch;
}
