#box{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: linear-gradient(red,blue);
    background-image: linear-gradient(to right,red,blue);
    background-image: linear-gradient(to left,red,blue);
    background-image: linear-gradient(to top,red,blue);
    background-image: linear-gradient(to bottom,red,blue);
    background-image: linear-gradient(to bottom right,red,blue,green);
    background-image: linear-gradient(orange,white,Green);

}
.mydiv{
    border: 1px solid black;
    height: 400px;
    margin: 10px;
    width: 200px ;
    background-image: radial-gradient(circle,red,blue,orange);
    background-image: radial-gradient(yellow 5%,orange 10%,red 50%);
}